.sidebar {
  height: calc(100vh - 134px);
  width: 240px;
  background: #ede7f6;
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  border-right: 1px solid #ddd6fe;

  /* smooth feel */
  transition: width 0.3s ease;
//   overflow-y: scroll;
//   position: fixed;
}

/* Logo */
.logo {
  font-size: 20px;
  font-weight: bold;
  color: #6d28d9;
  margin-bottom: 20px;
  padding-left: 8px;
}

/* Menu scroll area */
.menu {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-right: 4px;

  /* custom scroll */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c4b5fd;
    border-radius: 10px;
  }
}

.dashboardLink {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #6d28d9;
  background: #ddd6fe;
  transition: background 0.2s;

  &:hover {
    background: #c4b5fd;
  }

  span {
    white-space: nowrap;
  }
}

/* Menu item */
.menuItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  color: #4c1d95;
  transition: all 0.2s ease;

  &:hover {
    background: #ddd6fe;
    transform: translateX(4px);
  }

  span {
    font-size: 14px;
    white-space: nowrap;
  }
}

.active {
  background: #7c3aed;
  color: #fff;

  &:hover {
    background: #6d28d9;
    transform: none;
  }
}

/* Logout */
.logout {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  color: #dc2626;
  margin-top: 10px;
  transition: 0.2s;

  &:hover {
    background: #fee2e2;
  }

  span {
    font-size: 14px;
  }
}

/* 📱 Mobile (icons only) */
@media (max-width: 768px) {
  .sidebar {
    width: 70px;
    padding: 12px 8px;
  }

  .logo {
    text-align: center;
    padding: 0;
  }

  .dashboardLink {
    justify-content: center;

    span {
      display: none;
    }
  }

  .menuItem {
    justify-content: center;

    span {
      display: none;
    }
  }

  .logout {
    justify-content: center;

    span {
      display: none;
    }
  }
}