.section {
//   margin-top: 60px;
padding: 2.5rem;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 24px;
}

.grid {
  display: grid;
  gap: 24px;

  /* Desktop */
  grid-template-columns: repeat(4, 1fr);
}

/* Tablet */
@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small devices */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Very small */
@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* Icon box styling */
.iconBox {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
}