.section {
//   margin-top: 20px;
      background :   #140a1f;
      padding: 2.5rem;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  h2 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
  }
}

.subText {
  font-size: 13px;
  color: #9ca3af;
}

/* GRID LAYOUT */

.grid {
  display: grid;
  gap: 28px;

  /* Desktop - 3 cards */
  grid-template-columns: repeat(5, 1fr);
}

/* Tablet - 2 cards */
@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Mobile - 1 card */
@media (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}