.grid {
  width: 100wh;
//   margin-top: 24px;

  display: grid;
  gap: clamp(12px, 2vw, 20px);

  /* Desktop - 4 cards */
  grid-template-columns: repeat(4, 1fr);
  background :   #140a1f;
  padding: 2.5rem;

}

/* Tablet - max 3 cards */
@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small devices - max 3, min 2 */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Very small devices - minimum 2 */
@media (max-width: 520px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}